# Local development using PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/wastepin_local?schema=public"
PORT=4000
NODE_ENV=development

# Production on Render using PostgreSQL
# DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?schema=public"
